<a href="https://colab.research.google.com/github/Sashi09/Sashi-Python/blob/main/Assignment%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Control Structures Assignment-1***

** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [ ]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [ ]:
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [ ]:
n = 15
total = 0
for i in range(1, n + 1):
    total += i
print("Sum:", total)

Sum: 120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [ ]:
n = 10
total = 0
for i in range(1, n + 1, 2):
    total += i
print("Sum of odd numbers:", total)

Sum of odd numbers: 25

5) Python program to print a multiplication table of a given number

given number = 5

In [ ]:
num = 5
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# ***Control Structures Assignment-2***

1) Python program to count the total number of digits in a number.

TAKE THE INPUT NUMBER : 123456

In [1]:
num = 123456
count = 0
while num > 0:
    count += 1
    num //= 10
print("Total number of digits:", count)

Total number of digits: 6

2) Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]

In [2]:
num_list = [1, 3, 5, 6, 99, 134, 55]
even_count = 0
odd_count = 0
for num in num_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Total even numbers:", even_count)
print("Total odd numbers:", odd_count)

Total even numbers: 2
Total odd numbers: 5

3) Python program to get the Fibonacci series between 0 to 50.

In [3]:
a, b = 0, 1
print("Fibonacci series between 0 and 50:")
while a <= 50:
    print(a, end=" ")
    a, b = b, a + b

Fibonacci series between 0 and 50:
0 1 1 2 3 5 8 13 21 34

4) Python program that accepts a string and calculates the number of digits and letters.
Input

WEBBLINDERS1234

In [4]:
text = "WEBBLINDERS1234"
letter_count = 0
digit_count = 0
for char in text:
    if char.isalpha():
        letter_count += 1
    elif char.isdigit():
        digit_count += 1
print("Total letters:", letter_count)
print("Total digits:", digit_count)

Total letters: 11
Total digits: 4


5) Python program to display all numbers within a range except the prime numbers.

INPUT RANGE : 30 TO 80

In [5]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
start, end = 30, 80
print("Numbers in the range (30 to 80) excluding prime numbers:")
for num in range(start, end + 1):
    if not is_prime(num):
        print(num, end=" ")

Numbers in the range (30 to 80) excluding prime numbers:
30 32 33 34 35 36 38 39 40 42 44 45 46 48 49 50 51 52 54 55 56 57 58 60 62 63 64 65 66 68 69 70 72 74 75 76 77 78 80

# ***Functions Assignment-1***

1.Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)

In [6]:
def sum_list(numbers):
    return sum(numbers)
print(sum_list([8, 2, 3, 0, 7]))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

In [7]:
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result
print(multiply_list([8, 2, 3, -1, 7]))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

In [8]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("1234abcd"))

dcba4321


4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [9]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

120

5)Write a Python function to check whether a number falls within a given range.

In [10]:
def in_range(num, start, end):
    return start <= num <= end
print(in_range(10, 5, 20))
print(in_range(25, 5, 20))

True
False

# ***Functions Assignments-2***

1) Write a Python function that accepts a string and counts the number of upper and lower case letters.

Sample String : 'The quick Brow Fox'

Expected Output :

No. of Upper case characters : 3

No. of Lower case Characters : 12

In [11]:
def count_case(s):
    upper_count = sum(1 for char in s if char.isupper())
    lower_count = sum(1 for char in s if char.islower())
    print("No. of Upper case characters:", upper_count)
    print("No. of Lower case characters:", lower_count)
count_case('The quick Brow Fox')

No. of Upper case characters: 3
No. of Lower case characters: 12

2) Write a Python function that takes a list and returns a new list with distinct elements from the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [12]:
def unique_list(lst):
    return list(set(lst))
print(unique_list([1, 2, 3, 3, 3, 3, 4, 5]))

[1, 2, 3, 4, 5]

3) Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [13]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime(7))
print(is_prime(10))

True
False


4)Write a Python program to print the even numbers from a given list.

Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Expected Result : [2, 4, 6, 8]

In [14]:
def even_numbers(lst):
    return [num for num in lst if num % 2 == 0]
print(even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

5) Write a Python function to check whether a string is a pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.

For example : "The quick brown fox jumps over the lazy dog"

In [15]:
import string
def is_pangram(s):
    return set(string.ascii_lowercase).issubset(set(s.lower()))
print(is_pangram("The quick brown fox jumps over the lazy dog"))
print(is_pangram("Hello World"))

True
False